body {
    height: 200vh;
    margin: 0;
    background-color:#bc7272 ;
}

header {  
    position: sticky;
    top: 0;
    background-color: #9a5757;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.kembali {
        font-size: 20px;
        margin: 20px auto;
        width: 700px;
        text-align: left;
    }
.linkin {
    margin-top: 60px;
}

.scroll {
    margin-top: 600px;
}

.tombol-sticky { 
    position: fixed;
   bottom: 20px;
   right: 20px;

}

.tombol-sticky img {
    width: 80px;
}

.data-diri {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}